<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'LoginAndReg/styles.css' %}">
  </head>
  <body>
    {% for error in messages %}
        <p>{{ error }}</p>
    {% endfor %}

    <div class="registration">
    			<h2>Register</h2>
    			<form name="registration" action="/register" method="post">
            {% csrf_token %}
    				<label>First Name:</label>
    				<input type="text" name="first_name" placeholder="Thomas">
    				<label>Last Name:</label>
    				<input type="text" name="last_name" placeholder="Gullo">
    				<label>Email:</label>
    				<input type="text" name="email" placeholder="fakeemail@email.com">
    				<label>Password:</label>
    				<input type="password" name="password">
    				<label>Confirm Password:</label>
    				<input type="password" name="confirm_pw">
    				<input type="submit" name="register" value="Register">
    			</form>
    	</div>
    		<div class="login">
    			<h2>Login</h2>
    			<form name="login" action="/login" method="post">
            {% csrf_token %}
    			<label>Email:</label>
    			<input type="text" name="email" placeholder="fakeemail@email.com">
    			<label>Password:</label>
    			<input type="password" name="password">
    			<input type="submit" name="login" value="Login">
    			</form>
    		</div>
  </body>
</html>
